<h1>Tasks</h1>
<ul class="list-group">
  <% @tasks.each do |task| %>
    <li class="list-group-item">
      <%= link_to task.title, task %>
      </a>
    </li>
  <% end %>
</ul>

<%= link_to "New Task", new_task_path, class: "btn btn-primary" %>
